* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(147, 147, 230);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#quote-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 400px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 16px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  position: relative;
  width: 100%;
}

.button-container::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 5px;
  height: calc(100% + 190px);
  background-color: #ccc;
}

.button-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ccc;
  position: absolute;
  top: -10px;
  left: 0;
}

.btn {
  background-color: #4caf50;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin: 0 10px;
}

.btn:hover {
  background-color: #45a049;
}
